*{
    margin: 0;
    padding: 0;
}

button{
    border-radius: 50px;
    background-color: #57262f94;
    padding: 5px 16px;
    position: absolute;
    border: 0;
  
    a{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 300;
    letter-spacing: 3px;
    font-weight: bold; 
    text-decoration: none;  
       
    }

     
}

